﻿/*CSS to make the top of the application transparent.*/
.columns.content {
	background-color: #fff;
}

.ucommerce-tree-header, .tree-wrapper, #mainframe {
	background-color: white !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Lucida Grande;
	background-color: #D2D5DA;
}

#ucommerceMainPageBody {
	background-color: #D2D5DA;
	overflow: hidden;
}

#mainframe {
	height: 100%;
	width: 100%;
	border-left: 1px solid #4C535C;
	border-top: none;
	background: rgba(255, 255, 255, 0) !important;
}

.modal-header span {
	font-size: 18px;
	font-weight: bold;
}

.container-fluid {
	margin: 0;
	height: 100%;
	padding: 20px 0;
	padding-left: 0 !important;
	padding-right: 0px !important;
	padding-top: 0 !important;
	padding-bottom: 0px !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.columns {
	height: 100%;
}

.background {
	position: absolute;
	display: inline-block;
	background: url("images/transparent.gif");
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

	.background * {
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		background: #f0f1f2;
	}

.article-tree {
	background: white;
}

.content-area, .article-tree, .ui-splitter {
	float: left;
	display: inline-block;
	position: relative;
	z-index: 2;
	height: 100%;
}

.content-area {
	width: 74.8%;
}

.ui-splitter {
	position: relative;
	width: 1px;
	background: url("images/transparent.gif");
	cursor: ew-resize;
	z-index: 30;
	overflow: hidden;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	margin-left: 3px;
}

	.ui-splitter .ui-splitter-top {
		left: 0px;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 40;
		background: none !important;
	}

	.ui-splitter .ui-splitter-bottom {
		position: absolute;
		border: 2px ridge;
		width: 6px;
		z-index: 40;
	}

.article-tree {
	overflow-y: auto;
	overflow-x: auto;
	height: 100%;
	width: 24.9%;
}


.content-area {
	height: 100%;
	overflow: hidden;
	position: absolute;
}

ul {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	padding-bottom: 2px;
}

.ucommerce-navigation-tree {
	margin-left: 0px;
	margin-top: 10px;
}

a.treeItemHidden {
	background: none;
	visibility: hidden;
}

a.dimNode {
	color: #c0c0c0;
}

.notifications {
	position: fixed;
	min-width: 200px;
}

	.notifications.bottom-right {
		right: 25px;
		bottom: 25px;
	}

a.nodeSelected span div span {
	background-color: #D5EFFC;
}

div.relative {
	position: relative;
}

div.absolute {
	position: absolute;
}

div.tree-wrapper-content {
	background: white;
	background-position-x: -10px;
}

.ucommerce-modal-iframe {
	border: none;
	width: 100%;
	height: 100%;
}

.contentTree ul {
	padding: 0px;
	margin: 0px;
}

	.contentTree ul li {
		margin-top: 5px;
	}

.contentTree .treeItemExpandContainer {
	display: table-cell;
}

	.contentTree .treeItemExpandContainer .invisible {
		visibility: hidden;
	}

	.contentTree .treeItemExpandContainer .treeItemExpand {
		cursor: pointer;
	}

	.contentTree .treeItemExpandContainer a span {
		width: 15px;
		height: 15px;
		display: inline-block;
		margin-right: 5px;
	}

	.contentTree .treeItemExpandContainer a.treeItemOpen span {
		background-image: url("../images/treemenu_expanded.png");
	}

	.contentTree .treeItemExpandContainer a.treeItemClosed span {
		background-image: url("../images/treemenu_collapsed.png");
	}

.contentTree .treeNodeIcon {
	width: auto;
	display: inline-block;
	cursor: pointer;
	height: 16px;
	background-repeat: no-repeat;
	padding-left: 20px;
	background-size: 16px;
	line-height: 16px;
}

	.contentTree .treeNodeIcon .nodeName {
		width: auto;
		display: inline-block;
		font-size: 12px;
		font-family: Arial,Lucida Grande;
		white-space: nowrap;
	}

.contentTree .nodeSelectedStyle .nodeName {
	background: #D5EFFC;
}

.contentTree div.treeContextMenu > ul {
	z-index: 100;
	background: #fff;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
	border-radius: 2px;
	padding-right: 0;
	width: auto;
	-moz-min-width: 200px;
	-ms-min-width: 200px;
	-o-min-width: 200px;
	-webkit-min-width: 200px;
	min-width: 140px;
	margin: 0;
	display: block;
	list-style-type: none;
	position: absolute;
}

	.contentTree div.treeContextMenu > ul > li {
		margin: 0;
		font-size: 11px;
		line-height: 16px;
		white-space: nowrap;
		padding: 5px 15px 5px 15px;
	}

		.contentTree div.treeContextMenu > ul > li > a {
			background-repeat: no-repeat;
			text-indent: 30px;
			color: #000000;
			display: block;
			font-size: 12px;
			text-decoration: none;
		}

		.contentTree div.treeContextMenu > ul > li:hover {
			background-color: rgb(227,227,227);
			color: black;
		}

		.contentTree div.treeContextMenu > ul > li.separator {
			border-top: 1px solid #e3e3e3;
			padding: 0;
			display: block;
		}

.contentTree .dimNode span {
	color: #c0c0c0;
}

.contentTree .treeTop {
	line-height: 0px;
	display: table;
}

.contentTree .treeLink {
	vertical-align: top;
	display: inline-block;
}

.contentTree div.treeContextMenu > ul > li.separator > a {
	height: 0;
	text-decoration: none;
}

	.contentTree div.treeContextMenu > ul > li.separator > a:hover {
		border: none;
	}

.contentTree .treeTop {
	line-height: 18px;
}

.ucommerce-modal.ucommerce-modal {
	border-radius: 0;
	background-color: #f0f0f0;
	border: 1px solid rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.1);
	box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    left: 33%;
}

.modal-backdrop, .modal-backdrop.fade.in.modal-backdrop.fade.in.modal-backdrop.fade.in {
	opacity: .1;
	filter: alpha(opacity=10);
}

.content-area #mainframe {
	border: none;
}

#uCommerceHeader {
	height: 50px;
	background-color: #2b2b2b;
}

.sc-global-logo {
	display: inline-block;
	margin: 8px 14px;
	height: 33px;
	width: 33px;
	background: url("/sitecore/shell/Themes/Standard/Images/global_logo.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

	.sc-global-logo:hover {
		background-position: left bottom;
		text-decoration: none;
	}

iframe#uCommerce-contentFrame {
	width: 100%;
	position: fixed;
	height: 100%;
	border: none;
}

.gridster li.preview-holder {
	background-color: white !important;
	list-style: none;
}

#ucommerceMainPageBody .wrapper {
	height: 100%;
}