﻿<%@ Page Title="" Language="C#" MasterPageFile="Masterpages/MasterPageShell.Master" AutoEventWireup="true" CodeBehind="SettingsManager.aspx.cs" Inherits="UCommerce.Sitecore.Web.Shell.SettingsManager" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlacerHolder" runat="server">
	<ucommerce-shell content-picker-type="SettingsApp" fixed-left-size="300px" disable-resize="true" start-page="../LandingPages/StartPage.aspx"></ucommerce-shell>        
</asp:Content>
